<h1>WebChat</h1>
<a href="/search">Search</a>
| <a href="/threads">Threads</a>
{% if session.user_id %}
    | <a href="/new">Send a new message</a>
    | <a href="/myprofile">Profile</a>
    | <a href="/logout">Log out user {{ session.username }}</a>
{% else %}
    | <a href="/login">Log in</a>
{% endif %}
<p>
<hr>
<h3>{{ count }} message(s)</h3>
<hr>
{% for message in messages %}
    <i>Message:</i> {{ message[0] }}
    <p>
    <i>Sender:</i> {{ message[1] }}
    <p>
    <i>Time:</i> {{ message[2].strftime("%Y-%m-%d %H:%M:%S") }} UTC
    <p>
    {% if session.is_admin %}
    <i>Visibility:</i> {{ message[5] }} |
    {% endif %}
    {% if session.user_id == message[3] %}
    <a href="/deletemessage/{{ message[4] }}">Delete</a>
    {% endif %}
    <hr>
{% endfor %}