{% extends "layout.html" %}
{% block title %}Front page{% endblock %}
{% block content %}
<hr>
<h2>Latest messages</h2>
<a href="/allmessages">Show all messages</a>
<hr>
{% for message in messages %}
    <i>Thread:</i> <a href="/thread/{{ message[7] }}">{{ message[6] }}</a>
    <br>
    <i>Message:</i> {{ message[0] }}
    <br>
    <i>Sender:</i> {{ message[1] }}
    <br>
    <i>Time:</i> {{ message[2].strftime("%Y-%m-%d %H:%M:%S") }} UTC
    {% if message[8] != None %}
     (edited at {{ message[8].strftime("%Y-%m-%d %H:%M:%S") }})
    {% endif %}
    <br>
    {% if session.is_admin %}
    <i>Visibility:</i> {{ message[5] }} | <a href="/deletemessage/{{ message[4] }}">Delete</a>
    {% endif %}
    {% if session.user_id == message[3] %}
    <a href="/editmessage/{{ message[4] }}">Edit</a>
    | <a href="/deletemessage/{{ message[4] }}">Delete</a>
    {% endif %}
    <hr>
{% endfor %}
<hr>
<h2>Forums</h2>
{% for forum in forums %}
    <a href="/forum/{{ forum[0] }}">{{ forum[1] }}</a>
    <br>
{% endfor %}
{% endblock %}