{% extends "layout.html" %}
{% block title %}{{ thread_attributes[0] }}{% endblock %}
{% block content %}
{{ count }} message(s) in <b>{{ thread_attributes[0] }}</b>
{% if session.user_id == thread_attributes[1] %}
    | <a href="/thread/{{ id }}/delete">Delete thread</a>
{% endif %}
<p>

<hr>
{% for message in messages %}
    <b>{{ message[1] }}</b>
    <i>at</i> {{ message[2].strftime("%Y-%m-%d %H:%M:%S") }} UTC
    {% if message[6] != None %}
     (<i>edited at</i> {{ message[6].strftime("%Y-%m-%d %H:%M:%S") }})
    {% endif %}
    <p>
    {{ message[0] }}
    <p>
    {% if session.is_admin %}
        {% if message[5] %}
            {% if session.user_id == message[3] %}
                <a href="/editmessage/{{ message[4] }}">Edit</a>
                | <a href="/deletemessage/{{ message[4] }}">Delete</a>
            {% else %}
                <a href="/deletemessage/{{ message[4] }}">Admin delete</a>
            {% endif %}
        {% else %}
            <i>Deleted</i>
        {% endif %}
    {% elif session.user_id == message[3] %}
        <a href="/editmessage/{{ message[4] }}">Edit</a>
        | <a href="/deletemessage/{{ message[4] }}">Delete</a>
    {% endif %}
    <hr>
{% endfor %}
{% if session.user_id %}
    <form action="/thread/{{ id }}/reply" method="post" onsubmit="return check(this)">
        <input type="hidden" name="id" value="{{ id }}">
        <b>Reply to thread</b> (1-1000 characters): <br>
        <textarea name="content" rows="3" cols="40"></textarea>
        <br>
        <input type="submit" value="Send">
    </form>
    
    <script>
        var message;
        var errors;
        
        function check(form) {
            errors = [];
            append_string_length_error(form.content.value.length,
                "message", 1, 1000);
            if (errors.length > 0) {
                message = "";
                errors.forEach(addError);
                alert(message)
                return false;
            }
            return true;
        }

        function append_string_length_error(length,name,min_length,max_length) {
            if (length < min_length) {
                errors.push("The "+name+" is too short")
            } else if (length > max_length) {
                errors.push("The "+name+" is too long")
            }
        }

        function addError(error) {
            message += error + "\n";
        }
    </script>
{% else %}
    <a href="/login">Log in to reply to this thread</a>
{% endif %}
{% endblock %}