<h1>WebChat</h1>
{% if session.user_id %}
    You are logged in as {{ session.username }}.
    | <a href="/myprofile">Profile</a>
    | <a href="/logout">Log out</a>
{% else %}
    <a href="/login">Log in</a>
{% endif %}
<hr>
{{ count }} message(s) in <b>{{ thread_attributes[0] }}</b>
{% if session.user_id == thread_attributes[1] %}
    <a href="/thread/{{ id }}/delete">Delete</a>
{% endif %}
<p>

<hr>
{% for message in messages %}
    <i>Message:</i> {{ message[0] }}
    <p>
    <i>Sender:</i> {{ message[1] }}
    <p>
    <i>Time:</i> {{ message[2].strftime("%Y-%m-%d %H:%M:%S") }} UTC
    {% if message[6] != None %}
     (edited at {{ message[6].strftime("%Y-%m-%d %H:%M:%S") }})
    {% endif %}
    <p>
    {% if session.is_admin %}
    <i>Visibility:</i> {{ message[5] }} |
    {% endif %}
    {% if session.user_id == message[3] %}
    <a href="/editmessage/{{ message[4] }}">Edit</a>
    | <a href="/deletemessage/{{ message[4] }}">Delete</a>
    {% endif %}
    <hr>
{% endfor %}
{% if session.user_id %}
    <form action="/thread/{{ id }}/reply" method="post" onsubmit="return check(this)">
        <input type="hidden" name="id" value="{{ id }}">
        Reply to thread (1-1000 characters): <br>
        <textarea name="content" rows="3" cols="40"></textarea>
        <br>
        <input type="submit" value="Send">
    </form>
    
    <script>
        var message;
        var errors;
        
        function check(form) {
            errors = [];
            append_string_length_error(form.content.value.length,
                "message", 1, 1000);
            if (errors.length > 0) {
                message = "";
                errors.forEach(addError);
                alert(message)
                return false;
            }
            return true;
        }

        function append_string_length_error(length,name,min_length,max_length) {
            if (length < min_length) {
                errors.push("The "+name+" is too short")
            } else if (length > max_length) {
                errors.push("The "+name+" is too long")
            }
        }

        function addError(error) {
            message += error + "\n";
        }
    </script>
{% else %}
    <a href="/login">Log in to reply to this thread</a>
{% endif %}