{% extends "layout.html" %}
{% block title %}Threads{% endblock %}
{% block content %}
<h3>{{ count }} threads(s)</h3>
<hr>
{% for thread in threads %}
<h4><a href="/thread/{{ thread[4] }}">{{ thread[0] }}</a></h4>
    <p>
    <i>Creator:</i> {{ thread[1] }}
    <p>
    <i>Time:</i> {{ thread[2].strftime("%Y-%m-%d %H:%M:%S") }} UTC
    <p>
    {% if session.is_admin %}
    <i>Visibility:</i> {{ thread[5] }} |
    {% endif %}
    {% if session.user_id == thread[3] %}
    <a href="/deletethread/{{ thread[4] }}">Delete thread</a>
    {% endif %}
    <hr>
{% endfor %}
{% endblock %}